.containter_drop {
  height: auto;
  color: #fff;
  width: 90%;
}
.dropdown {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 25px rgb(18, 15, 56);
  padding: 0.5rem;
  border-radius: 5px;
  transition: 0.2s ease-in;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 16px !important;
}
.dropdown:hover {
  background-color: rgba(36, 36, 36, 0.45);
}
.section-dropdown {
  padding: 5px;
  background-color: #111;
  margin: 0;
}
.listFilter {
  text-align: center;
  padding: 0.5px 0 10px 0;
  list-style: none;
  font-size: 14px !important;
}
