.ListHeroes{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background-color: #bdbdbd63;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
