.Home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    min-height: 100vh;
}
.ListHeroes{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background-color: #bdbdbd63;
}